.submit-btn {
  @extend %hoverButton;
  position: relative;

  &__btn {
    @extend %textButton;
    color: $white;

    width: 100%;

    background: $gradientPurple;
    border-radius: 22px;
    padding: 14px 0;
  }

  &__icon {
    @include textFieldIcon(44px);
    color: $white;

    @include maxMobileSmall {
      display: none;
    }
  }
}
