div.login-card
    h1.login-card__title Войти
    form.login-card__form
        div.login-card__text-field-row
            label.login-card__email-label
                input.login-card__email-field(class="text-field" type="text" placeholder="Email")
            label.login-card__password-label
                input.login-card__password-field(class="text-field" type="text" placeholder="Пароль")
        div.login-card__submit-wrapper 
            div.login-card__submit(class="submit-btn")
                button.submit-btn__btn(type="submit") войти
                div.submit-btn__icon 
                    <span class="material-icons">arrow_forward</span>
    div.login-card__create
        div.login-card__create-text Нет аккаунта на Toxin?
        a.login-card__create-btn(class="btn-outlined" href="register.html") создать