div.filter-date 
    label.filter-date__label
        input.filter-date__field(class="text-field" type="text" value="19 авг - 23 авг" disabled="true")
    button.filter-date__btn(type="button")
        <span class="material-icons">expand_more</span>