div.checkbox-list
    div.checkbox-list__header
        h3.checkbox-list__title дополнительные удобства
        div.checkbox-list__toggle
            <span class="material-icons">expand_more</span>
    ul.checkbox-list__list
        li.checkbox-list-item