.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  overflow: hidden;

  &__header {
    @extend %noselect;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    transition: opacity $Transition;

    &:hover {
      opacity: 0.5;
    }
  }

  &__title {
  }

  &__toggle {
  }

  &__list {
    max-height: 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: max-height 0.5s ease-in;
  }

  &__list-item {
  }
}
