.home {
  @include bgImg($homeBG);

  &__container {
    display: flex;
    justify-content: space-between;

    @include maxTablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__column {
    &--1 {
      padding: 70px 0 320px 0;
    }

    &--2 {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__text {
    max-width: 300px;

    color: rgba($dark-shade, 0.5);
    font-weight: 700;
    text-align: right;
    margin: 0 0 18px 0;

    @include maxTablet {
      text-align: center;
    }
  }
}
