.rooms {
  position: relative;
  padding: 30px 0 70px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @include maxTablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__form-wrapper {
    display: flex;

    @include maxTablet {
      flex-direction: column;
      align-items:center;
    }
  }

  &__form {
    width: 266px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include maxTablet {
      max-height: 0;
      -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
      animation: slide-out-elliptic-top-bck 0.7s ease-in both;
      transition: max-height 0.7s ease-in;

      &--active {
        max-height: 100%;
        -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }
  }

  &__form-toggle {
    display: none;
    justify-content: center;
    align-items: center;

    padding: 0 10px;

    span {
      color: rgba($dark-shade, 0.5);
      font-size: rem(40);
      transition: color $Transition;

      &:hover {
        color: rgba($dark-shade, 0.75);
      }
    }

    @include maxTablet {
      display: flex;
    }
  }

  &__form-field-title {
    margin: 0 0 5px 0;
  }

  &__form-field-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__form-range-slider-text {
    @extend %secondaryText;
    margin: 10px 0 0 0;
  }

  &__form-rules {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__form-rules-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__form-access-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include maxTablet {
      align-items: center;
    }
  }

  &__content-title {
    margin: 0 0 20px 0;

    @include maxTablet {
      text-align: center;
    }
  }

  &__content-rooms {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 12px;

    @include maxTablet {
      justify-content: center;
      column-gap: 20px;
    }
  }

  &__content-pagination {
    margin: 40px 0 0 0;
  }
}
