.like-btn {
  @extend %noselect;
  cursor: pointer;

  width: 40px;
  height: 20px;
  border: 1px solid rgba($dark-shade, 0.25);
  border-radius: 10px;

  display: flex;
  align-items: center;

  &:hover,
  &--active {
    border: 1px solid $purple;
    .like-btn__icon {
      @include gradientText($gradientPurple);
      span {
        color: $purple;
      }
      &--normal {
        display: none;
      }
      &--active {
        display: flex;
      }
    }

    .like-btn__count {
      color: $purple;
    }
  }

  &--active:hover {
    border: 1px solid rgba($dark-shade, 0.25);
    .like-btn__icon {
      span {
        color: rgba($dark-shade, 0.25);
      }
      &--normal {
        display: flex;
      }
      &--active {
        display: none;
      }
    }

    .like-btn__count {
      color: rgba($dark-shade, 0.25);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;

    span {
      color: rgba($dark-shade, 0.25);
      font-size: rem(10);
    }
    &--normal {
      display: flex;
    }
    &--active {
      display: none;
    }
  }

  &__count {
    color: rgba($dark-shade, 0.25);
    font-size: rem(10);
  }
}
