.date-dropdown {
  position: relative;
  cursor: pointer;

  &__field {
    @extend %noselect;
    cursor: pointer;
    width: 100%;

    &::placeholder {
      color: rgba($dark-shade, 0.75);
    }
  }

  &__btn {
    @include textFieldIcon(44px);
    color: rgba($dark-shade, 0.5);
  }
}
