div.date-dropdown 
    label.date-dropdown__label
        input.date-dropdown__field(class="text-field" type="text" value="ДД.ММ.ГГГГ" disabled="true")
    button.date-dropdown__btn(type="button")
        <span class="material-icons">expand_more</span>