.date-dropdown {
  cursor: pointer;
  position: relative;

  &__field {
    width: 100%;
  }

  &__btn {
    @include textFieldIcon(44px);
    @extend %hoverIcon;
    color: rgba($dark-shade, 0.5);
  }
}
