.room-card {
  &__info {
    padding: 20px 20px;
  }

  &__info-main {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    border-bottom: 1px solid rgba($dark-shade, 0.1);

    padding: 0 0 10px 0;
  }

  &__img-ibg {
    width: 270px;
    height: 150px;
  }

  &__info-number {
    display: flex;
    align-items: baseline;
    gap: 1px;
  }

  &__info-type {
    color: $purple;
    font-size: rem(12);
    font-weight: 700;
    line-height: calc(15 / 12 * 100%);
    text-transform: uppercase;
  }

  &__info-rating {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 0;
  }

  &__info-reviews {
    display: flex;
    align-items: center;

    color: rgba($dark-shade, 0.5);
    font-size: rem(14);
    line-height: calc(18 / 14 * 100%);
  }

  &__info-reviews-number {
    font-weight: 700;
  }

  &__info-reviews-text {
    font-weight: 400;
  }

  .swiper {
    width: 270px;
    border-radius: 4px 4px 0 0;

    &:hover .swiper-button-prev,
    &:hover .swiper-button-next {
      opacity: 1;
      span {
        color: $white;
      }
    }

    &:hover .swiper-button-disabled {
      span {
        color: rgba($white, 0.35);
      }
    }
  }

  .swiper-pagination {
    right: 0;
    bottom: 15px;

    display: flex;
    justify-content: flex-end;
    gap: 4px;

    padding: 0 15px;

    .swiper-pag-bullet {
      border: 1px solid $white;
      border-radius: 50%;

      width: 7.5px;
      height: 7.5px;

      margin: 0;
    }

    .swiper-pag-bullet-active {
      background: $white;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;

    position: absolute;
    top: 0;
    width: 44px;
    height: 100%;
    margin: 0;
    transition: all 0.5s;

    span {
      color: rgba($white, 0);

      @include maxTablet {
        color: $white;
      }
    }

    &:before,
    &:after {
      content: none;
    }

    &:hover {
      transform: scale(1.4);
    }

    @include maxTablet {
      opacity: 1;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-prev {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );

    left: 0;
  }

  .swiper-button-next {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );

    right: 0;
  }
}
