.room-number {
  color: $dark-shade;
  font-weight: 700;
  &__symbol {
    font-size: rem(14);
    line-height: calc(17 / 14 * 100%);
  }

  &__number {
    font-size: rem(19);
    line-height: calc(23 / 14 * 100%);
  }
}
