.find-room-card {
  @extend %cardStyle;
  max-width: 380px;

  &__title {
    margin: 0 0 21px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__form-row {
    &--1 {
      position: relative;
      display: flex;
      gap: 20px;

      @include maxMobileSmall {
        flex-direction: column;
      }
    }
  }

  &__form-field {
  }

  &__form-field-title {
    margin: 0 0 5px 0;
  }

  &__form-submit {
    margin: 10px 0 0 0;
  }
}
