header.header
  div.header__container
    div.header__logo
      include ../logo/logo.pug
    nav.header__nav 
      ul.header__nav-list 
        li.header__nav-list-item 
          a.header__nav-link(href="ui-kit.html") О нас
        li.header__nav-list-item(class="header__nav-list-item--expandable")
          a.header__nav-link(href="#") Услуги
          <span class="header__nav-link-icon material-icons">expand_more</span>
        li.header__nav-list-item 
          a.header__nav-link(href="#") Вакансии
        li.header__nav-list-item 
          a.header__nav-link(href="#") Новости
        li.header__nav-list-item(class="header__nav-list-item--expandable") 
          a.header__nav-link(href="#") Соглашения
          <span class="header__nav-link-icon material-icons">expand_more</span>
        li.header__nav-list-item 
          a.header__nav-btn(class="header__nav-btn--login" href="login.html") войти
        li.header__nav-list-item 
          a.header__nav-btn(class="header__nav-btn--register" href="register.html") зарегистрироваться
    button(type="button" class="header__icon-menu icon-menu")
       span