mixin rich-checkbox(mainText, subText)
    label.rich-checkbox
        span.rich-checkbox__text-main= mainText
        span.rich-checkbox__text-sub= subText
        input.rich-checkbox__input(class="checkbox" type="checkbox")