//- Connect mixins
include modules/common/room-feature/room-feature.pug
include modules/common/room-review/room-review.pug
include modules/common/pie-chart/pie-chart.pug

//- Data for votes pie chart
- var votesTotal = 260;
-
    var votesData = [
        {name: 'Великолепно', value: 130, color: 1},
        {name: 'Хорошо', value: 65, color: 2},
        {name: 'Удовлетворительно', value: 65, color: 3},
        {name: 'Разочарован', value: 0, color: 4}]

doctype html 
html(lang="ru")
    include pug/head.pug
    body
        div.wrapper 
            include modules/header/header.pug 
            main.page
                section.room 
                    div.room__gallery 
                        div.room__img(class="room__img--1" style="background-image: url(./img/room/01.jpg)")
                        div.room__img(class="room__img--2" style="background-image: url(./img/room/02.jpg)")
                        div.room__img(class="room__img--3" style="background-image: url(./img/room/03.jpg)")
                    div.room__container
                        div.room__content
                            div.room__content-row(class="room__content-row--1")
                                div.room__features
                                    h2.room__features-title Сведения о номере
                                    ul.room__features-list
                                        li.room__features-list-item
                                            +room-feature('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
                                        li.room__features-list-item
                                            +room-feature('location_city', 'Удобство', 'Окно в каждой из спален')
                                        li.room__features-list-item
                                            +room-feature('whatshot', 'Уют', 'Номер оснащён камином')
                                div.room__chart
                                    h2.room__chart-title
                                    +pie-chart(votesData, votesTotal)
                            div.room__content-row
                                div.room__reviews
                                    div.room__reviews-header
                                        h2.room__reviews-title Отзывы посетителей номера
                                        div.room__reviews-count 2 отзыва
                                    div.room__reviews-content
                                        +room-review('img/users/murad.jpg', 
                                            'Мурад Сарафанов', 
                                            '5 дней назад', 
                                            'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 
                                            12, true)
                                        +room-review('img/users/patricia.jpg', 
                                            'Патрисия Стёклышкова', 
                                            'Неделю назад',
                                            'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                                            2, false)
            include modules/footer/footer.pug