//- Connect mixins
include modules/forms/checkbox-btn/checkbox-btn.pug
include modules/forms/rich-checkbox/rich-checkbox.pug
include modules/cards/room-card/room-card.pug
include modules/ui/pagination/pagination.pug

-
    var rooms = [
        {
            number: 888, 
            type: 'Люкс', 
            price: '9 990₽', 
            rating: 5, 
            reviews: 145,
            images: ['img/rooms/room-888/01.jpg', 
                'img/rooms/room-888/02.jpg', 
                'img/rooms/room-888/03.jpg', 
                'img/rooms/room-888/04.jpg']
        },
        {
            number: 840, 
            type: null, 
            price: '9 990₽', 
            rating: 4, 
            reviews: 65,
            images: ['img/rooms/room-840/01.jpg', 
                'img/rooms/room-840/02.jpg', 
                'img/rooms/room-840/03.jpg', 
                'img/rooms/room-840/04.jpg']
        },
        {
            number: 980, 
            type: 'Люкс', 
            price: '8 500₽', 
            rating: 3, 
            reviews: 35,
            images: ['img/rooms/room-980/01.jpg', 
                'img/rooms/room-980/02.jpg', 
                'img/rooms/room-980/03.jpg', 
                'img/rooms/room-980/04.jpg']
        },
        {
            number: 856, 
            type: null, 
            price: '7 300₽', 
            rating: 5, 
            reviews: 19,
            images: ['img/rooms/room-856/01.jpg', 
                'img/rooms/room-856/02.jpg', 
                'img/rooms/room-856/03.jpg', 
                'img/rooms/room-856/04.jpg']
        },
        {
            number: 740, 
            type: 'Люкс', 
            price: '6 000₽', 
            rating: 4, 
            reviews: 44,
            images: ['img/rooms/room-740/01.jpg', 
                'img/rooms/room-740/02.jpg', 
                'img/rooms/room-740/03.jpg', 
                'img/rooms/room-740/04.jpg']
        },
        {
            number: 982, 
            type: '', 
            price: '5 800₽', 
            rating: 3, 
            reviews: 56,
            images: ['img/rooms/room-982/01.jpg', 
                'img/rooms/room-982/02.jpg', 
                'img/rooms/room-982/03.jpg', 
                'img/rooms/room-982/04.jpg']
        },
        {
            number: 678, 
            type: null, 
            price: '5 500₽', 
            rating: 5, 
            reviews: 45,
            images: ['img/rooms/room-678/01.jpg', 
                'img/rooms/room-678/02.jpg', 
                'img/rooms/room-678/03.jpg', 
                'img/rooms/room-678/04.jpg']
        },
        {
            number: 450, 
            type: null, 
            price: '5 300₽', 
            rating: 4, 
            reviews: 39,
            images: ['img/rooms/room-450/01.jpg', 
                'img/rooms/room-450/02.jpg', 
                'img/rooms/room-450/03.jpg', 
                'img/rooms/room-450/04.jpg']
        },
        {
            number: 350, 
            type: null, 
            price: '5 000₽', 
            rating: 3, 
            reviews: 77,
            images: ['img/rooms/room-350/01.jpg', 
                'img/rooms/room-350/02.jpg', 
                'img/rooms/room-350/03.jpg', 
                'img/rooms/room-350/04.jpg']
        },
        {
            number: 666, 
            type: null, 
            price: '5 000₽', 
            rating: 5, 
            reviews: 25,
            images: ['img/rooms/room-666/01.jpg', 
                'img/rooms/room-666/02.jpg', 
                'img/rooms/room-666/03.jpg', 
                'img/rooms/room-666/04.jpg']
        },
        {
            number: 444, 
            type: null, 
            price: '5 000₽', 
            rating: 3, 
            reviews: 15,
            images: ['img/rooms/room-444/01.jpg', 
                'img/rooms/room-444/02.jpg', 
                'img/rooms/room-444/03.jpg', 
                'img/rooms/room-444/04.jpg']
        },
        {
            number: 352, 
            type: null, 
            price: '5 000₽', 
            rating: 3, 
            reviews: 55,
            images: ['img/rooms/room-352/01.jpg', 
                'img/rooms/room-352/02.jpg', 
                'img/rooms/room-352/03.jpg', 
                'img/rooms/room-352/04.jpg']
        }]


doctype html 
html(lang="ru")
    include pug/head.pug
    body
        div.wrapper 
            include modules/common/header/header.pug 
            main.page
                section.rooms 
                    div.rooms__container
                        div.rooms__form-wrapper
                            form.rooms__form
                                div.rooms__form-field-row
                                    div.rooms__form-field
                                        h3.rooms__form-field-title даты пребывания в отеле
                                        include modules/forms/filter-date/filter-date.pug
                                    div.rooms__form-field
                                        h3.rooms__form-field-title гости
                                        include modules/forms/dropdown/dropdown-guests.pug 
                                div.rooms__form-range-slider
                                    include modules/forms/range-slider/range-slider.pug
                                    div.rooms__form-range-slider-text Стоимость за сутки пребывания в номере
                                div.rooms__form-rules
                                    h3.rooms__form-rules-title правила дома
                                    div.rooms__form-rules-fields
                                        +checkbox-btn('Можно курить')
                                        +checkbox-btn('Можно с питомцами')
                                        +checkbox-btn('Можно пригласить гостей (до 10 человек)')
                                div.rooms__form-access
                                    h3.rooms__form-access-title
                                    div.rooms__form-access-fields
                                        +rich-checkbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
                                        +rich-checkbox("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
                                div.rooms__form-features 
                                    include modules/forms/dropdown/dropdown-features.pug
                                div.rooms__form-extra
                                    div.checkbox-list
                                        div.checkbox-list__header
                                            h3.checkbox-list__title дополнительные удобства
                                            div.checkbox-list__toggle
                                                <span class="material-icons">expand_more</span>
                                        ul.checkbox-list__list
                                            - var checkboxList = ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']
                                            each val in checkboxList
                                                li.checkbos-list__list
                                                    +checkbox-btn(val)
                            div.rooms__form-toggle
                                <span class="material-icons">keyboard_double_arrow_down</span>
                        div.rooms__content
                            h1.rooms__content-title Номера, которые мы для вас подобрали
                            div.rooms__content-rooms
                                each room in rooms
                                    +room-card(room.number, room.type, room.price, room.rating, room.reviews, room.images)
                            div.rooms__content-pagination
                                +pagination(15)
            include modules/common/footer/footer.pug
        include pug/js.pug