mixin room-feature(icon, title, text) 
    div.room-feature
        div.room-feature__icon
            span.material-icons=icon
        div.room-feature__content
            div.room-feature__title=title
            div.room-feature__text=text