.room-feature {
  display: flex;
  gap: 10px;
  &__icon {
    span {
      @include gradientText($gradientPurple);
      font-size: rem(48);
    }
  }
  
  &__content {
    color: rgba($dark-shade, 0.75);
    font-size: rem(14);
    line-height: calc(24 / 14 * 100%);
  }

  &__title {
      font-weight: 700;
  }

  &__text {
      font-weight: 400;
  }
}
