div.range-slider
    div.range-slider__header
        h3.range-slider__title диапазон цены
        div.range-slider__values
            span.range-slider__value-start
            span.range-slider__value-separator &nbsp;-&nbsp; 
            span.range-slider__value-end
    div.range-slider__wrapper
