.range-slider {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
  }

  &__values {
    @extend %secondaryText;
  }

  &__wrapper.noUi-target {
    height: 6px;

    border: 1px solid rgba($dark-shade, 0.25);
    border-radius: 3px;
    box-shadow: none;

    .noUi-handle {
      cursor: grab;

      background: $gradientGreen;
      top: -5px;
      width: 14px;
      height: 14px;

      border: 2px solid $white;
      border-radius: 50%;

      box-shadow: none;

      &:before,
      &:after {
        content: none;
      }
    }

    .noUi-handle-lower {
      right: -12px;
    }

    .noUi-handle-upper {
      right: -6px;
    }

    .noUi-connects {
      overflow: visible;
    }

    .noUi-connect {
      background: $gradientGreen;
      height: 6px;
      top: -1px;
      right: -2%;
    }
  }
}
